@model FISApp.Models.Profile
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/profile-style2.css" rel="stylesheet" />
<style>
    #view-forms {
        display: relative;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("@Model.avatar") no-repeat;
        background-position: center top;
        background-size: cover;
    }
</style>
<div class="panel panel-widget forms-panel">
    <div class="forms" style="background-color: #00acc1;">
        <div class="form-grids widget-shadow" id="view-forms">
            <div class="col-md-7 header-right">
                <h1>Hi !</h1>
                <h6>@Model.userID - @Model.position</h6>
                <ul class="address">
                    <li>
                        <ul class="address-text">
                            <li><b>NAME</b></li>
                            <li>@Model.name</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li><b>D.O.B</b></li>
                            <li>@Model.DOB</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li><b>PHONE </b></li>
                            <li>@Model.phone</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li><b>DEPARTMENT </b></li>
                            <li>@Model.department</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li><b>ADDRESS </b></li>
                            <li>@Model.address</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li><b>E-MAIL </b></li>
                            <li><a href="mailto:example@mail.com">@Model.email</a></li>
                        </ul>
                    </li>
                    <br />
                    <li>
                        <a style="color:#fcb216" href="@Url.Action("EditProfile", "Users", new {@userID = @Model.userID})">Edit</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 header-left">
                <img height="400px" width="400px" style="margin:0 0 30px 0; border: 3px solid #d8d8d8" src="@Model.avatar" id="imgavatar" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>