@model FISApp.Models.EmployeeViewModels
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-widget forms-panel">
    <div class="forms">
        <div class="form-grids widget-shadow" data-example-id="basic-forms">
            <div class="form-title">
                <h3>Attendance of @DateTime.Now.Month - @DateTime.Now.Year</h3>
            </div>
            <div class="form-body" style="padding:0px">
                <table border="1">
                    <tr>
                        @for (int i = 1; i <= 15; i++)
                        {
                            <th style="background-color:#fcb216" class="tbcell">@(i)</th>
                        }
                    </tr>
                    <tr>
                        @for (int i = 1; i <= 15; i++)
                        {
                            if (@Model.monthAttend[i] == true)
                            {
                                <td style="color:green">Present</td>
                            }
                            else if (i < DateTime.Now.Day)
                            {
                                <td style="color:red">Absent</td>
                            }
                            else
                            {
                                <td style="color:white">Notyet</td>
                            }
                        }
                    </tr>
                    <tr>
                        @for (int i = 16; i <= Model.numDays; i++)
                        {
                            <th style="background-color:#fcb216" class="tbcell">@(i)</th>
                        }
                    </tr>
                    <tr>
                        @for (int i = 16; i <= Model.numDays; i++)
                        {
                            if (@Model.monthAttend[i] == true)
                            {
                                <td style="color:green">Present</td>
                            }
                            else if (i < DateTime.Now.Day)
                            {
                                <td style="color:red">Absent</td>
                            }
                            else
                            {
                                <td style="color:white">Notyet</td>
                            }
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-widget forms-panel" style="width: 48%; display: inline-block; min-height:240px">
    <div class="forms">
        <div class="form-grids widget-shadow" data-example-id="basic-forms">
            <div class="form-title">
                <h3>Device status</h3>
            </div>
            <div class="form-body" style="padding:10px; padding-left:30px">
                
            </div>
        </div>
    </div>
</div>

<div class="panel panel-widget forms-panel" style="width: 50%; display: inline-block; float:right">
    <div class="forms">
        <div class="form-grids widget-shadow" data-example-id="basic-forms">
            <div class="form-title">
                <h3>Log Attend (<span><a href="@Url.Action("ExportLOGPage", "Admin")">Export here</a></span>)</h3>
            </div>
            <div class="form-body" style="padding:10px; padding-left:30px">
                @foreach (var item in Model.listAttent)
                {
                    <p>Attend at "@item.location" at @item.log_time</p>
                }
            </div>
        </div>
    </div>
</div>