@model FISApp.Models.EmployeeViewModels
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-widget forms-panel" style="width: 45%; display: inline-block;">
    <div class="forms">
        <div class="form-grids widget-shadow" data-example-id="basic-forms">
            <div class="form-title">
                <h3>Attendance of @DateTime.Now.Month - @DateTime.Now.Year</h3>
            </div>
            <div class="form-body" style="padding:0px">
                <table>
                    <thead>
                        <tr>
                            @for (int i = 1; i <= 10; i++)
                            {
                                <th style="text-align: center;">@(i.ToString("D2"))</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int i = 1; i <= 10; i++)
                            {
                                if (@Model.monthAttend[i] == true)
                                {
                                    <td style="color:green;text-align: center;">&#10004;</td>
                                }
                                else if (i < DateTime.Now.Day)
                                {
                                    <td style="color:red;text-align: center;">&#10006;</td>
                                }
                                else
                                {
                                    <td style="color:black;text-align: center;">-</td>
                                }
                            }
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            @for (int i = 11; i <= 20; i++)
                            {
                                <th style="text-align: center;">@(i.ToString("D2"))</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int i = 11; i <= 20; i++)
                            {
                                if (@Model.monthAttend[i] == true)
                                {
                                    <td style="color:green;text-align: center;">&#10004;</td>
                                }
                                else if (i < DateTime.Now.Day)
                                {
                                    <td style="color:red;text-align: center;">&#10006;</td>
                                }
                                else
                                {
                                    <td style="color:black;text-align: center;">-</td>
                                }
                            }
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            @for (int i = 21; i <= Model.numDays; i++)
                            {
                                <th style="text-align: center;">@(i.ToString("D2"))</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int i = 21; i <= Model.numDays; i++)
                            {
                                if (@Model.monthAttend[i] == true)
                                {
                                    <td style="color:green;text-align: center;">&#10004;</td>
                                }
                                else if (i < DateTime.Now.Day)
                                {
                                    <td style="color:red;text-align: center;">&#10006;</td>
                                }
                                else
                                {
                                    <td style="color:black;text-align: center;">-</td>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-widget forms-panel" style="width: 53%; display: inline-block; float:right; min-height:342px">
    <div class="forms">
        <div class="form-grids widget-shadow" data-example-id="basic-forms">
            <div class="form-title">
                <h3>Log Attend (<span><a href="@Url.Action("ExportLOGPage", "Admin")">Export here</a></span>)</h3>
            </div>
            <div class="form-body" style="padding:10px; padding-left:30px">
                @foreach (var item in Model.listAttent)
                {
                    <p>Attend at "@item.location" at @item.log_time</p>
                }
            </div>
        </div>
    </div>
</div>